<link rel="apple-touch-icon-precomposed" sizes="149x144" href="/static/favicon/ask_zeno_149x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="157x152" href="/static/favicon/ask_zeno_157x152.png" />
<link rel="icon" type="image/png" href="/static/favicon/ask_zeno_33x32.png" sizes="33x32" />
<link rel="icon" type="image/png" href="/static/favicon/ask_zeno_17x16.png" sizes="17x16" />
<meta name="application-name" content="Ask Zeno"/>
<meta name="msapplication-TileColor" content="#3366CC" />
<meta name="msapplication-TileImage" content="/static/favicon/ask_zeno_149x144.png" />