<!DOCTYPE HTML>

<html>

<head>
	<title>Ask Zeno - UPLOAD FILES</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	{% include 'favicon.html' %}
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		{% include 'header.html' %}

		<!-- Menu -->
		{% include 'menu.html' %}

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<header>
					<h1>Upload Files</h1>
					<hr>

                    <form action="/upload-image" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                        <label>Select image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="image" id="image">
                            <label class="custom-file-label" for="image">Select image...</label>
                        </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Upload</button>

                    </form>
				</header>
			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/browser.min.js"></script>
	<script src="/static/js/breakpoints.min.js"></script>
	<script src="/static/js/util.js"></script>
	<script src="/static/js/main.js"></script>

</body>

</html>